body{
  background-color:rgb(239, 239, 250);
}
.root {
    margin: 0 auto;
    max-width: 80%;
    border-radius: 5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #3a5d9f;
}
h2 {
    font-size: 15px;
    color: #fdcc07;
    text-transform: capitalize;
}
h1 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: -15px;
}
.logo{
    text-align: center;
    padding: 20px;;
}
.logo img{
    width: 200px;
}
.containersections{
  display: flex;
  justify-content: space-between;
  margin-top: 8%;
}
.containersections .section{
  background-color: white;
  line-height: 100%;
  text-align: center;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
}
.section .sectionheader{
  font-size: 15px;
  text-transform: capitalize;
  line-height: 40px;
  font-weight: bold;
  background-color: #BFE4DE;
}
.containersections .section:first-child{
  width: 19%;
}
.containersections .section:last-child{
  width: 79%;
}
.pokemoncontainer {
    display: flex;
}
.selectbox {
    flex-shrink: 1;
}
.selectbox input {
  box-sizing: border-box;
  width: 80%;
  margin:20px 0 0;
  padding: 10px;
  border: none;
  color:seagreen;
  text-align:center;
  background: rgba(0,0,0,0.05);
  border: 1px solid #aaa;
}
.selectbox input::after{
  content:"";
  display: block;
  position: absolute;
  left: 0;
  width: 40px;
  height: 50px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.list ul {
    list-style-type: none;
    padding-left: 0px;
    height: 330px;
    overflow-y: scroll;
    border-top:1px solid #e8e8e8;
}
.list ul::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.list ul li {
    text-transform: capitalize;
    padding: 5px;
    line-height: 25px;
    text-align: center;
    color: #aaa;
    font-weight: bold;
    cursor: pointer;
    border-top:1px solid #e8e8e8;
}
.list ul li:hover,
.list ul li.selectboxed {
    background-color: #3a5d9f;
    color: #fdcc07;
}
.containerstat{
    flex-grow: 1;
}
.containerstat section{
  display: flex;
}
.statimage {
    text-align: center;
    border-right:1px solid #e8e8e8;
    display: inline-block;
    width: 200px;
    padding: 20px;
}
.statimage img{
  width: 100px;
}
.stattypes{
  text-align: center;
}
.stattypes span{
  text-align: center;
  padding: 3px 10px;
  margin: 3px;
  font-size: 0.8em;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: bold;
  color:white;
}
.statscolumns{
  border: 1px solid #e8e8e8;
  column-count: 3;
  column-gap: 40px;
  column-rule: 1px solid #e8e8e8;
}
.pokemonspecs {
  color: #3a5d9f;
  font-weight: bold;
  display: inline-block;
}

.detail {
    padding: 0 20px;
    flex-grow: 1;
}

.moves {
    color: #3a5d9f;
    font-weight: bold;
    display: flex;
  }
  .moves > div {
    margin: 0 20px;
    min-width: 180px;
  }
  .moves div:first-child {
    text-align: center;
  }
  .moves span.learnmethods {
    color: white;
    background-color: #c1c8ca;
    padding: 0px 10px;
    margin-bottom: 3px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
  }
  .moves span.learnmethods:hover,
  .moves span.learnmethodselected {
    color: #fdcc07;
    background-color: #3a5d9f;
    padding: 0px 10px;
    margin-bottom: 3px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
  }
  .moves span {
    cursor: pointer;
    padding: 2px 10px;
    font-size: 0.7em;
    text-transform: uppercase;
  }
  .moves span:hover {
    background-color: #fdcc07;
  }
  span.method{
    display: block;
    width: 100%;
    font-size:1.2em;
    font-weight:bold;
  }

  .pokemonspecs span {
    padding: 10px;
    margin-bottom: 3px;
  }
  .pokemonspecs span.name {
    text-transform: capitalize;
    flex-grow: 1;
  }
  .pokemonspecs span.value {
    background: #fdcc07;
    text-align: center;
    min-width: 15%;
    flex-shrink: 1;
  } 
  .pokemonspecs div.stats {
    border: 1px solid #fdcc07;
    padding: 10px 5px;
    border-radius: 5px;
    width: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  .pokemonspecs div.stats > div{
    display: flex;
    flex-wrap: wrap;
    flex-basis:49%;
  }
  /* LOADER */
  /* Inspirated from  http://www.alessioatzeni.com/wp-content/tutorials/html-css/CSS3-loading-animation-loop/index.html */
.ouro {
  position: relative;
  display:inline-block;
  height: 46px;
  width: 46px;
  margin: 1em;
  border-radius: 50%;  
  background: none repeat scroll 0 0 #DDDDDD;
  overflow:hidden;
  box-shadow: 0 0 10px rgba(0,0,0,.1) inset, 0 0 25px rgba(0,0,255,0.075);
}
.ouro:after {
  content: "";
  position: absolute;
  top: 9px; left: 9px;
  display: block;
  height: 28px; width: 28px;
  background: none repeat scroll 0 0 #F2F2F2;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.ouro > span {
  position: absolute;
  height: 100%; width: 50%;
  overflow: hidden;
}
.white{
  width:15px !important;
  height: 15px !important;
  background-color: white;
  position: absolute;
  left: 15px;
  top:15px;
}
.left  { left:0   }
.right { left:50% }
.anim {
  position: absolute;
  left: 100%; top: 0;
  height: 100%; width: 100%;
  border-radius: 999px;
  background: none repeat scroll 0 0 red;
  opacity: 0.8;
  -webkit-animation: ui-spinner-rotate-left 3s infinite;
  animation: ui-spinner-rotate-left 3s infinite;
  -webkit-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0;
}
.left .anim {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.right .anim {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  left: -100%;
  -webkit-transform-origin: 100% 50% 0;
  transform-origin: 100% 50% 0;
}
/* v2 */
.ouro2 .anim {
 -webkit-animation-delay:0;
 animation-delay:0;
}
.ouro2 .right .anim{
 -webkit-animation-delay: 1.5s;
 animation-delay: 1.5s;
}
.double{
  -ms-transform: rotate(90deg); /* IE 9 */
  transform: rotate(90deg);
}
/* double variation */
.double .ouro:after {
height: 13px; width: 13px;
left: 10px; top: 10px;
border: 5px solid #ddd;
background: transparent;
box-shadow: none;
}
@keyframes ui-spinner-rotate-right{
0%{transform:rotate(0deg)}
25%{transform:rotate(180deg)}
50%{transform:rotate(180deg)}
75%{transform:rotate(360deg)}
100%{transform:rotate(360deg)}
}
@keyframes ui-spinner-rotate-left{
0%{transform:rotate(0deg)}
25%{transform:rotate(0deg)}
50%{transform:rotate(180deg)}
75%{transform:rotate(180deg)}
100%{transform:rotate(360deg)}
}
@-webkit-keyframes ui-spinner-rotate-right{
0%{-webkit-transform:rotate(0deg)}
25%{-webkit-transform:rotate(180deg)}
50%{-webkit-transform:rotate(180deg)}
75%{-webkit-transform:rotate(360deg)}
100%{-webkit-transform:rotate(360deg)}
}
@-webkit-keyframes ui-spinner-rotate-left{
0%{-webkit-transform:rotate(0deg)}
25%{-webkit-transform:rotate(0deg)}
50%{-webkit-transform:rotate(180deg)}
75%{-webkit-transform:rotate(180deg)}
100%{-webkit-transform:rotate(360deg)}
}
